<h1>Hello {{name}} Here is your information!</h1>

<form method="post">
	<label for="age">What is your age?</label>
	<input id="age" type="text" name="age">
	<input type="submit" name="ageSubmit" value="ageSubmit">
</form>

<form method="post">
	<label for="eye">What is your eye color?</label>
	<input id="eye" type="text" name="eye">
	<input type="submit" name="eyeSubmit" value="eyeSubmit">
</form>

<h1>Your name is {{name}}</h1>

{{#if age}}
	<h1>Your age is {{age}}</h1>
{{/if}}

{{#if eye}}
	<h1>Your eye color is {{eye}}</h1>
{{/if}}
